.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
  padding-top: 80px;
}

.title {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  padding: 0px 108px;
  padding-bottom: 80px;
}

.title span {
  background: linear-gradient(45deg, #00f0ff, #00ff75);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.phoneBlock {
  padding: 31px 0px;
}

.letters {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 32px;
}
