* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
}

body{
  background: black;
}

.pulse {
  animation: pulse 3s forwards infinite;
}

.pulse-duration-3{
  animation: pulse 4s forwards infinite;
}

.pulse-duration-1{
  animation: pulse 2s forwards infinite;
}

.pulse-duration-5{
  animation: pulse 5s forwards infinite;
}

body , html{
  overflow-x: hidden;
  width: 100vw;
}

@keyframes pulse {
  0%{
    scale: 1;
  }
  50% {
    scale: 1.3;
  }
  100%{
    scale: 1;
  }
}