.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 80px;
}

.title {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  padding: 0px 108px;
  max-width: 1223px;
  padding-bottom: 80px;
}

.cards {
  display: flex;
  max-width: 1280px;
  gap: 20px;
  align-items: start;
  justify-content: start;
}

.card {
  background: linear-gradient(102.71deg, #00f0ff 0%, #00ff75 100%);
  border-radius: 32px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 56px;
  padding: 80px;
  max-width: 520px;
  width: 100%;
}

.cardItem {
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  text-align: left;
  width: 100%;
  max-width: 360px;
}

.cardBtn button {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 44px;
  border-radius: 100px;
  cursor: pointer;
}

.swiper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  position: relative;

  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.arrow {
  padding: 37px;
  border-radius: 50px;
  background: #212121;
  cursor: pointer;
}

.bigStar {
  position: absolute;
  bottom: -75%;
  left: -350%;
}

.smallStar {
  position: absolute;
  bottom: -48%;
  right: 10%;
}
